    
    
    [data-testid = "stDecoration"]{
        visibility : hidden;
    }
    
    [data-testid = "stHeader"]{
        margin : 0px;
        padding : 0px;
        background : rgba(0,0,0,0);
    }

    [data-testid="stSidebarContent"]{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    [data-testid="stAppViewContainer"]{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    [data-testid="stAppViewBlockContainer"]{

        background: rgba( 255, 255, 255, 0.02 );
        -webkit-backdrop-filter: blur( 1px );
        backdrop-filter: blur( 1px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
